@import '../cta-box.scss';
@import '../colors.scss';

.header {
	padding: 50px 10%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;

	.logo-wrapper { flex: 0 0 auto }

	.navbar {
		flex: .3 .3 auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;

		.navlink {
			color: get-color(Dark-Blue);

			&:hover {
				color: get-color(Dark-Grayish-Blue);
			}
		}
		.cta-box {
			@include cta-box();
			margin-left: 15vw;
		}
	}

	.toggle-button { display: none }
}





@media screen and (max-width: 1000px) {
	#root .header {
		position: relative;
		
		.navbar {
			position: absolute; top: 70%;
			right: 10%;
			padding: 5% 10%;

			flex-direction: column;
			background: white;
			transition: .3s;

			.navlink { margin: 5% 10% }

			transform: scaleY(0);
			transform-origin: top;
			&.expanded {
				transform: scaleY(1);
			}
		}

		.toggle-button {
			display: unset;
			position: relative;
			/* removing default button rules */
			background: none;
			padding: 0;
			border: none;
			width: 25px; height: 22px;
			
			&:hover svg path {
				fill: get-color(Bright-Red);
			}
			svg {
				position: absolute;
				top: 0;
				left: 0; right: 0;

				&.active {
					transform: scale(1);
				}
				&.inactive {
					transform: scale(0);
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	#root .header .navbar {
		width: 60%; margin: 0 auto;
	}
}